    <form action="servlet1" method="post">  
    Name:<input type="text" name="username"/><br/><br/>  
    Password:<input type="password" name="userpass"/><br/><br/>  
    <input type="submit" value="login"/>  
    </form>  